.col, .row { display: flex; }
.col { flex-direction: column; }
.row { flex-direction: row; }
.flex-grow { flex-grow: 1; }
.flex-shrink { flex-shrink: 1; }
.flex-wrap { flex-wrap: wrap; }
.flex-nowrap { flex-wrap: nowrap; }
.flex-50p { flex-basis: 50%; }

@each $level in (1, 2, 3, 4, 5, 6) {
    .flex-basis-#{$level} {
        flex: $level;
    }
}
@each $j in (start, flex-start, end, flex-end, center, space-around, space-between, space-evenly) {
    .justify-#{$j} {
        justify-content: $j;
    }
}
@each $a in (flex-start, flex-end, center, baseline) {
    .align-#{$a} {
        align-items: $a;
    }
}
